body {
    background: rgb(255, 239, 232);
}

html, body {
    padding: 0;
    margin: 0;
}


.app_title {
    display: flex;
}

header {
    border-bottom: 6px ridge rgb(244, 93, 93); 
}

#header_title {
    font-family: "Times New Roman",Times,serif;;
    font-size: 50px;
    font-style: bold;
    background: -webkit-linear-gradient(rgb(235, 65, 65), rgb(253, 215, 158));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px rgb(99, 51, 51); 

    display: flex;
    justify-content:space-around
}

.grid {
    gap: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid .items {
    width: 600px;
    height: 600px;
    margin: auto;
    border: 25px inset #ffafaf;  
    flex-direction: column; 
}

.title {
    height: 100px;
    margin: auto;
}
.title p {

    color: rgb(255, 62, 62);
   
    font-size: 2.3rem;
    font-weight: bolder;
    
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}


.items img {
    width:300px;
    height: 300px;
    margin-left: 25%;
}

.text {
     width: 100%;
     background: rgb(248, 169, 117);
}

.text p {
    width: 100%;
    margin-top: 25%;
    font-size: 1.5rem;
    font-style: italic;
    
}


.btn_items {
    background: rgb(248, 169, 117);
    width: 100%;
    border: none;
    display: grid;
    border: 3px ridge rgb(255, 108, 108);
    height: 80px;
    
}

.btn_items p {
    background: rgb(248, 169, 117);
    width: 100%;
    margin: auto;
    color: rgb(255, 62, 62);
    font-size: 1.6rem;
    font-weight: bolder;
}

.btn_items:hover {
    color: rgb(255, 62, 62);
    font-size: 1.6rem;
    font-weight: bolder;
    transition: 0.4s;
    cursor: pointer;
}

.order {

    margin: auto;
    margin-top: 5rem;
    width: 50%;
    padding: 10px;
    border: 10px ridge rgb(255, 223, 223);
}


.item_order {
    height: 100%;
    width: 100%;
    background: rgb(248, 169, 117);
    font-style: italic;
    margin: auto;
    width: 500px;
    height: 200px;
    padding: 10px;
    display: flex;
}


#btn_order {
    margin: auto;
    font-size: 50px;
}

#btn_order:hover {
    color: rgb(255, 255, 255);
    transition: 0.8s;
    cursor: pointer;
}

#order_price {
    background: rgb(248, 169, 117);
    width: 100%;
    border: none;
    display: grid;
    height: 50px;
}

.order #totalprice {
    border: 1px solid #000000; 
}

.order p {
    background: rgb(248, 169, 117);
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    font-weight: bolder;
}


h1, p {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#ordereditems {
    border: 1px solid #000000;
}

#burger, #drink, #fries, #dessert {
    background: rgb(248, 169, 117);
    width: 100%;
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    font-weight: bolder;
}

@media only screen and (max-width: 550px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr;
    }
}